h1{
  text-align: left;
  color: #383874;
  font-weight: bold;
  font-size: 2em;
}
.performanceTitle {
  margin-top: 10%;
}
h2{
  margin-left: 5%;
  text-align: left;
  color: #383874;
  font-weight: bold;
  font-size: 1.5em;
}
.detail{
  margin-left: 10%;
  text-align: left;
}
.detailData{
  display: inline-block;
  width: 200px;
  text-align: left;
  font-size: 1.3em;
  color: #383874;
}
/deep/ .ant-table-header {
  background-color: #383874;
}
/deep/ .ant-table-thead th{
  color: white;
  background-color: #383874;
  text-align: center;
}
/deep/ .ant-table-thead td{
  text-align: center;
}
